{% extends "base.html.twig" %}
{% block title %}Cadastro de Produto - {% endblock %}

{% block body %}
    
    <h1 class="mb-5">Cadastro de Produto</h1>
    {% include "produto/form.html.twig" %}

{% endblock %}